{% extends 'basic.html' %}
{% block title %} About {% endblock title %}
{% block body %}
{% load static %}
 <section id="about" class="about">
      <div class="container">
      
        
        

        <div class="section-title">
          <h2>About</h2>
          <p>"Hello, my name is LOGESH S and I am highly motivated and ambitious individual with a strong passion for learning and personal growth. I am from Tiruchengode, Namakkal district, Thokkavadi post 637215. My expertise lies in Python, Django, and Java, and I am constantly seeking out new opportunities to learn and grow. I completed my schooling at K.S.R. Matric Higher Secondary School and am currently pursuing my degree at K.S. Rangasamy College of Technology. My background in technology, paired with my passion for food, has led me to my short-term goal of exploring my knowledge in chef as well as programming languages and becoming a full-stack developer to start my own food truck business. My father is a farmer as well as driver and my mother is a housekeeper.  I am excited to connect with other professionals in my field and to be a part of a community that is dedicated to driving progress and innovation. Feel free to reach out to me and let's connect!"</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static 'assets/img/profile-img.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Web Developer &amp; JAVA Developer.</h3>
            <p class="fst-italic">
              
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>8 Sep 2001</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Gmail Id:</strong> <span>logeshsubramani89@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>683591297</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>India, TamilNadu</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>21</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>B.Tech Computer Science and Business Systems</span></li>
                </ul>
              </div>
            </div>
            <p>
              I developed a web application for FILE BROWSER and PRINTOP using Django and Python. I maintained the app and organized data access, creating a prototype that showcased the application core functionality. I optimized the application loading time and improved its responsive design, enhancing its overall performance.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

{% endblock body %}